<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="refresh" content="1">
        <title>TimeAndLight</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <h1> Time And Light </h1>
        <main>
        
        {% if measurments == [] %}
            <p>No measurments at the moment.</p>
        {% else %}
            <table>
                <tr>
                    <th></th>
                    <th>Time:</th>
                    <th></th>
                    <th>Light:</th>
                </tr>
                {% for (time, light, color) in measurments %}
                    <tr>
                        <td style="color: white">{{ loop.index }}.</td>
                        <td style="color: {{color}}">
                            {{ time }}
                        </td>
                        <td style="color: {{color}}">-</td>
                        <td style="color: {{color}}">
                            {{ light }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        </main>
    </body>
</html>


